		.main1 {
    		font-family: "Roboto",helvetica,arial,sans-serif;
		color: #a22222;
		font-size: 12px;
    		padding-top: 10px;
    		vertical-align: top;
    		width: 93%;
    		text-align: center;
		margin: 3%;
		}		
   		.main2 {
    		font-family: "Roboto",helvetica,arial,sans-serif;
		color: #a22222;
		font-size: 12px;
    		padding-top: 10px;
    		vertical-align: top;
    		width: 93%;
    		text-align: center;
		margin: 3%;
		}
